version: '3.9'

services:
  client-side:
    image: ghcr.io/100bucksdev/bid-auto-client-side:dev
    ports:
      - '3000:3000'
    extra_hosts:
      - 'host.docker.internal:host-gateway'

  user-side:
    image: ghcr.io/100bucksdev/bid-auto-user-panel:dev
    ports:
      - '3001:80'
    extra_hosts:
      - 'host.docker.internal:host-gateway'

  admin-side:
    image: ghcr.io/100bucksdev/bid-auto-admin-panel:dev
    ports:
      - '3002:80'
    extra_hosts:
      - 'host.docker.internal:host-gateway'

  nginx:
    image: nginx:1.25-alpine
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - '80:80'
    depends_on:
      - client-side
      - user-side
      - admin-side
