services:
  traefik:
    image: traefik:v2.11
    command:
      - '--api.dashboard=true'
      - '--providers.docker=true'
      - '--entrypoints.web.address=:80'
    ports:
      - '80:80'
      - '8080:8080'
    volumes:
      - '/var/run/docker.sock:/var/run/docker.sock:ro'

  client-side:
    image: ghcr.io/100bucksdev/bid-auto-client-side:dev
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.client.rule=PathPrefix(`/`)'
      - 'traefik.http.routers.client.priority=1'
      - 'traefik.http.services.client.loadbalancer.server.port=3000'

  admin-side:
    image: ghcr.io/100bucksdev/bid-auto-admin-part:dev
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.admin.rule=PathPrefix(`/admin`)'
      - 'traefik.http.routers.admin.priority=20'
      - 'traefik.http.services.admin.loadbalancer.server.port=80'

  user-side:
    image: ghcr.io/100bucksdev/bid-auto-user-part:dev
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.user.rule=PathPrefix(`/user`)'
      - 'traefik.http.routers.user.priority=10'
      - 'traefik.http.services.user.loadbalancer.server.port=80'
