services:
  traefik:
    image: traefik:v2.11
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    volumes:
      - ./traefik/traefik.yml:/etc/traefik/traefik.yml:ro
      - ./traefik/dynamic/dynamic.yml:/etc/traefik/dynamic.yml:ro
      - ./traefik/letsencrypt:/letsencrypt:ro

  client-side:
    image: ghcr.io/100bucksdev/bid-auto-client-side:prod

  admin-side:
    image: ghcr.io/100bucksdev/bid-auto-admin-part:prod

  user-side:
    image: ghcr.io/100bucksdev/bid-auto-user-part:prod
