version: '3.9'

services:
  traefik:
    image: traefik:v2.11
    command:
      - '--api.insecure=true'
      - '--providers.docker=true'
      - '--entrypoints.web.address=:80'
    ports:
      - '80:80'
      - '8080:8080' # Traefik Dashboard
    volumes:
      - '/var/run/docker.sock:/var/run/docker.sock:ro'

  client-side:
    image: ghcr.io/100bucksdev/bid-auto-client-side:dev
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.client.rule=PathPrefix(`/`)'
      - 'traefik.http.services.client.loadbalancer.server.port=3000'

  user-side:
    image: ghcr.io/100bucksdev/bid-auto-user-part:dev
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.user.rule=PathPrefix(`/user`) || PathPrefix(`/user/`)'
      - 'traefik.http.services.user.loadbalancer.server.port=80'

volumes:
  user_build:
