api:
  dashboard: true

entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"

providers:
  docker:
    exposedByDefault: false
  file:
    directory: "/etc/traefik/dynamic"
    watch: true

# Сертификаты Let's Encrypt
certificatesResolvers:
  letsencrypt:
    acme:
      email: peyrovskaaa@gmail.com
      storage: /letsencrypt/acme.json
      keyType: EC256
      # Сначала используем staging для тестирования
#      caServer: https://acme-staging-v02.api.letsencrypt.org/directory
      # После успешного теста переключитесь на production:
      caServer: https://acme-v02.api.letsencrypt.org/directory
      httpChallenge:
        entryPoint: web
