http:
  routers:
    # HTTPS routers (terminate TLS and use ACME certs)
    admin-https:
      rule: "Host(`demo.bidauto.online`) && PathPrefix(`/admin`)"
      entryPoints:
        - websecure
      service: admin
      priority: 30
      tls:
        certResolver: letsencrypt

    user-https:
      rule: "Host(`demo.bidauto.online`) && PathPrefix(`/user`)"
      entryPoints:
        - websecure
      service: user
      priority: 20
      tls:
        certResolver: letsencrypt

    client-https:
      rule: "Host(`demo.bidauto.online`) && PathPrefix(`/`)"
      entryPoints:
        - websecure
      service: client
      priority: 1
      tls:
        certResolver: letsencrypt

    # HTTP routers only redirect to HTTPS
    admin-http:
      rule: "Host(`demo.bidauto.online`) && PathPrefix(`/admin`)"
      entryPoints:
        - web
      service: noop@internal
      priority: 30
      middlewares:
        - redirect-to-https

    user-http:
      rule: "Host(`demo.bidauto.online`) && PathPrefix(`/user`)"
      entryPoints:
        - web
      service: noop@internal
      priority: 20
      middlewares:
        - redirect-to-https

    client-http:
      rule: "Host(`demo.bidauto.online`) && PathPrefix(`/`)"
      entryPoints:
        - web
      service: noop@internal
      priority: 1
      middlewares:
        - redirect-to-https

  middlewares:
    redirect-to-https:
      redirectScheme:
        scheme: https
        permanent: true

  services:
    admin:
      loadBalancer:
        servers:
          - url: "http://admin-side:80"

    user:
      loadBalancer:
        servers:
          - url: "http://user-side:80"

    client:
      loadBalancer:
        servers:
          - url: "http://client-side:3000"